* {
    margin: 0;
}

body {
    text-align: left;   
    margin-top: 5%;
    margin-left: 10%;
    background-color: #80ffdb;
    font-family: 'Cormorant SC', serif;
}

h1 {
    font-size: 40px;
    color: #5390d9;
  }
  
  h2 {
    font-size: 25px;
    color: #4ea8de;
  }
  
  form {
    font-size: 20px;
    color: #7400b8;
  }


  input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  display: inline;
  font-size: 20px;
  color: #7400b8;
}

  table {
    font-size: 25px;
    color: #5e60ce;
  }

  label {
    margin-left: 1%;
  }


